entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "glibcLocales", "libiconv", "libxcrypt", "openssh", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start Flask App"

[[workflows.workflow]]
name = "Run Flask API"
author = 43544798
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Streamlit Dashboard"
author = 43544798
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run streamlit_app.py --server.port=8501 --server.address=0.0.0.0"

[[workflows.workflow]]
name = "Preview Web App"
author = 43544798
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Start Flask App"
author = 43544798
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
